{% extends "base.html" %} {% block body %}
<main id="main">
  {% if msg %}
        <span id="acc-error">
          <p id="acc-error-p">{{msg}}</p>
        </span>
{% endif %}
  <div class="header">
    <h2 id="title">Log In Form</h2>
    <p id="description">Please Log in with registered email id:</p>
  </div>
  <div class="form-div">
    <form id="survey-form" action="/login" method="post">
      <div class="form-elements">
        <label id="email-label">Email : </label>
        <input
          type="email"
          id="email"
          placeholder="Enter your email"
          name="email"
          required
        />
        <label id="pass-label">Password : </label>
        <input
          type="password"
          id="pass"
          placeholder="Enter your password"
          name="password"
          required
        />
        <div class="btn-div">
          <button type="submit" class="submit" id="submit">Log In</button>
        </div>
        <hr />
        <p class="text-center">
          Not yet Registered ? Please goto
          <a href="/register">Register</a> page.
        </p>
      </div>
    </form>
  </div>
</main>
<script>
   $('#acc-error').hide().delay(400).fadeIn(400);
   $('#acc-error').delay(3000).fadeOut(400);
</script>
{% endblock %}
