{% extends "base.html" %} {% block body %}
<div class="container text-center mt-5">
  <h1>Hi {{name}}</h1>
  <p>This is your Dashoard!!!</p>
  <br />
  <div class="row-flex">
    <div class="col-9">
      <div class="row-flex">
        <div class="form-div">
          <div class="survey-form">
            <div class="form-elements">
              <p class="text-center">Want to create a new Poll?</p>
              <hr />
              <div>
                <a
                  id="modal-btn"
                  class="newclass"
                  data-id="form-modal"
                  ><button type="submit" class="submit">Create Poll</button></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="form-div">
          <div class="survey-form">
            <div class="form-elements">
              <p class="text-center">Browse through your Polls.</p>

              <hr />
              <div class="btn-div">
                <button type="submit" class="submit">View Polls</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row-flex">
    <a href="/logout"><button class="btn mr-5">Log Out</button></a>
  </div>
  <br />
  <div id="form-modal" class="fmodal">


<div class="form-div">

    <form id="survey-form" action="/register" method="post">
        <span class="xclose">&times;</span>
      <div class="form-elements">
        <div class="input-wrapper">
        <label id="name-label">Poll Question : </label>
        <textarea
          id="question"
          placeholder="Type in your question"
          name="question"
          required
        ></textarea>
        <div>
          <label id="option1-label">Option 1 : </label>
          <input
            type="text"
            id="option1"
            name="option1"
            class="options"
            required
          />
        </div>
          <div>
            <label id="option2-label">Option 2 : </label>
                    <input
            type="text"
            id="option2"
            name="option2"
            class="options"
            required
                    />
          </div>
        </div>
        <div class="btn-div">
          <button
            class="add_button btn"
            id="add-option"
          >
            Add Option
          </button>
        </div>
        <hr />
                <div class="btn-div">
          <button
            type="submit"
            class="submit"
            id="submit"
            onclick=""
          >
            Create
          </button>
        </div>
      </div>
    </form>
  </div>
      </div>
</div>

<script>

          $(".newclass").click(function() {
           var a_Class = this.className;
           var a_ID = $(this).attr('data-id');
           var modal = document.getElementById(a_ID);

          var span = document.getElementsByClassName("xclose")[0];

          modal.style.display = "block";

          $(".xclose").click(function(){
            modal.style.display = "none"
          });


      });
      </script>
<script type="text/javascript">
$(document).ready(function(){
    var maxField = 9;
    var addButton = $('.add_button');
    var wrapper = $('.input-wrapper');
    var fieldHTML = '<div><label>Option <span class="myText"></span> : </label><input type="text" class="options" name="field_name[]" value=""/><a href="javascript:void(0);" class="remove_button">X</a></div>'; //New input field html
    var number = 0;
    var x = 1;

    //Once add button is clicked
    $(addButton).click(function(e){
        e.preventDefault();
        if(x < maxField){
            x++;
            $(wrapper).append(fieldHTML);
            document.getElementsByClassName("myText")[number].innerHTML = number+3;
            number++;
        }
    });

    $(wrapper).on('click', '.remove_button', function(e){
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
        number--;
    });

});
</script>
{% endblock %}
